html {
    font-family: Arial, sans-serif;
}

body {
    margin: 0 0;
}

div.main_container {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 24px;
}

div.center {
    text-align: center;
}

#menu {
    background-color: #333;
    /* overflow: hidden; */
    display: flex;
    /* flex-direction: row; */
    width: 100%;
    justify-content: space-between;
}

.menuLien {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: white;
}

#menuLiensContainer {
    display: flex;
}

#menuAccueil {
    background-color: #4CAF50;
}

#menuVotants:hover {
    background-color: #ddd;
    color: black;
}

#boutonConnexionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.boutonCoDeco {
    margin-right: 12px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid gray;
    padding: 8px;
    text-align: left;
}

th {
    background-color: darkgrey;
}

td.radio {
    text-align: center;
    width: 10px;
}

tr:nth-child(odd) {
    background-color: lightgray;
}

.boutonFin {
    margin-top: 50px;
    margin-bottom: 50px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
}

select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
}

.form_container {
    padding: 16px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

form.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 60%;
}

.hidden {
    opacity: 0;
    visibility: hidden;
    height: 0;
    padding: 0 0 !important;
    margin: 0 0 !important;
}